:root {
    --width: 90vh;
    --height: 90vh
}

*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    background-color: black;
    width: var(--width);
    height: var(--height);
    position: relative;
}

.snake {
    background-color: green;
    border: 1px solid white;
}

.food {
    background-color: red;
    border: 1px solid white;
}

.game-over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--width);
    height: var(--height);
    position: absolute;
    background-color: rgba(88, 88, 88, .75);
}

h1 {
    font-size: 6rem;
    color: white;
    margin-bottom: 5vh;
}

button {
    padding: 10px;
    font-size: 2rem;
    border-radius: 20px;
    color: white;
    background-color: black;
    border: 2px solid white;
    outline: none;
    cursor: pointer;
    transition-duration: 400ms;
}

button:hover {
    background-color: white;
    color: black;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    background-color: rgb(41, 41, 41);
    color: white;
    width: var(--width);
}